.nav {
  margin: 3rem 0;
}

.nav ul {
  list-style: none;
  background-color: var(--color-dark--2);
  border-radius: 7px;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-dark--0);
}

.icon {
  margin-right: 10px;
}