.dashboard {
    width: 100%;
    background-color: var(--color-dark--2);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
}

.buttonsContainer1 {
    grid-row: 3;
    grid-column: 1;
}

.buttonsContainer2 {
    grid-row: 3;
    grid-column: 2;
}

.buttonsContainer1, .buttonsContainer2 {
    /*margin: 10px 7%;*/
    margin: 10px auto;
}
